@import './variables';

$transition-duration: 0.3s;
$light-gray: #cecece;
$dark-gray: #767676;

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  -webkit-appearance: none;
  border: none;
  outline: 0;
}

.build-and-price {
  height: calc(100vh - 80px);
  // min-height: 560px;
  position: relative;

  .tw-header-container {
    width: 100%;
    text-align: center;

    h5 {
      font-weight: 700;
    }

    h2 {
      font-weight: 500;
    }
  }

  .tw-content-container {
    .tw-cta-wrap {
      width: 100%;
      text-align: center;
    }
  }

  .secondary-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 14px;
    padding: 10px 20px 0;
    background-color: white;

    .link,
    p {
      font-size: 12px;
      color: $dark-gray;
      padding: 0;
      text-decoration: none;
    }

    .link {
      font-family: Arial, Helvetica, sans-serif;
      font-style: italic;
      font-weight: 800;
    }

    p {
      margin: 0;
    }

    hr {
      width: 100%;
      margin: 0;
    }
  }

  .category-nav {
    list-style-type: none;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    margin-top: 0;
    padding-left: 20px;
    background-color: white;
    margin-bottom: 0;
    transition-property: transform, opacity, height;
    transition-duration: $transition-duration;
    transition-timing-function: ease-in-out;
    display: flex;
    align-items: center;

    &.fade-up-out {
      transform: translateY(-100%);
      opacity: 0;
      height: 0;
      padding-bottom: 0;
    }

    &.fade-down-in {
      transform: translateY(0);
      opacity: 1;
      height: 42px;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      display: inline-block;
      margin-right: 30px;
      font-size: 12px;
      font-weight: 900;
      text-transform: uppercase;

      &:last-child {
        margin-right: 20px;
      }

      a {
        text-decoration: none;
        color: $light-gray;

        &:visited {
          color: $light-gray;
        }

        &.active {
          color: $dark-gray;
        }
      }
    }
  }

  .jellybean {
    transition-timing-function: ease-in-out;
    transition-duration: $transition-duration;
    transition-property: opacity, height;
    opacity: 1;
    z-index: -1;
    position: relative;
    margin-bottom: 15px;
    width: 100%;

    &.animate-up-fade-out {
      opacity: 0;
      height: 0;

      .car-image {
        transform: translateY(-100%);
      }
    }

    &.animate-down-fade-in {
      opacity: 1;
      height: 160px;

      .car-image {
        transform: translateY(0);
      }
    }

    .car-image {
      background-color: $light-gray;
      margin: 0 auto;
      height: 140px;
      width: 300px;
      transition-property: transform;
      transition-duration: $transition-duration;
      transition-timing-function: ease-in-out;
    }

    h3 {
      color: $dark-gray;
      font-style: italic;
      font-size: 18px;
      font-weight: 900;
    }
  }

  .trim-sub-nav {
    transition-property: transform, opacity, height;
    transition-duration: $transition-duration;
    transition-timing-function: ease-in-out;

    &.fade-up-out {
      transform: translateY(-100%);
      opacity: 0;
      height: 0;
      padding-bottom: 0;
    }

    &.fade-down-in {
      transform: translateY(0);
      opacity: 1;
      height: 30px;
    }

    ul {
      list-style-type: none;
      white-space: nowrap;
      overflow-y: hidden;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      padding-left: 20px;
      margin-bottom: 0;

      &::-webkit-scrollbar {
        display: none;
      }

      li {
        display: inline-block;

        button {
          padding: 0;
        }

        a {
          display: inline-block;
          padding-right: 10px;
          margin-right: 10px;
          border-right: 2px solid #898989;
          line-height: 0.8;
          color: #909090;
          text-transform: capitalize;

          &:visited {
            color: #909090;
          }
          &:hover {
            text-decoration: none;
          }
          &:last-child {
            border-right: none;
          }

          &.active {
            color: $dark-gray;
            font-weight: 900;
          }
        }
      }
    }
  }

  .options-container {
    // position: absolute;
    width: 100%;
    // bottom: 0;

    .options-wrap {
      display: flex;
      list-style-type: none;
      white-space: nowrap;
      overflow-y: hidden;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      padding-left: 20px;
      transition: all 3s ease-in-out;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        display: none;
      }

      li {
        display: inline-block;

        button {
          padding: 0;
        }
      }

      .inner-options-wrap {
        margin-left: 0;
        width: 100%;
        height: 220px;
        position: relative;
        transition: height $transition-duration ease-in-out;

        &.expanded-panel {
          height: 500px;

          ul {
            &.expandable {
              .option {
                height: 492px;
                width: calc(100% - 20px);
                background-color: white;
              }
            }
          }
        }

        .options-headline {
          color: $dark-gray;
          margin: 0;
        }

        ul {
          padding: 0;
          position: absolute;
          // bottom: 0;
          width: 100%;

          li {
            background-color: $light-gray;
            margin: auto;
            font-size: 10px;
            margin-right: 15px;
            display: inline-block;
            overflow-y: hidden;
            position: relative;

            span {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: $dark-gray;
            }

            .expand-option-btn {
              position: absolute;
              top: 10px;
              right: 10px;
              left: auto;
              transform: none;
              font-size: 10px;
              color: $dark-gray;
            }
          }

          &.expandable {
            margin: 0;

            li {
              width: 143px;
              min-width: 143px;
              height: 220px;
              padding: 0;
              transition-duration: $transition-duration;
              transition-timing-function: ease-in-out;
              transition-property: width, height, opacity;
            }
          }

          &.swatch {
            li {
              border-radius: 100%;
              width: 60px;
              height: 60px;
              min-width: 60px;
              min-height: 60px;
            }
          }

          .option {
            width: calc(100% - 30px);
            padding-bottom: 20px;
            position: relative;

            .collapse-option-btn {
              width: 35px;
              height: 35px;
              position: absolute;
              top: 5px;
              right: 10px;
              left: auto;
              transform: none;
              font-size: 10px;
              z-index: 1;

              svg {
                border-radius: 9rem;
                fill: $dark-gray;
                width: 25px;
                height: 25px;
              }
            }

            .card-header {
              padding: 15px 0 0 7px;
              white-space: normal;
              min-height: 45px;

              p {
                max-width: 190px;
                margin: 0;
                color: $dark-gray;
                font-size: 12px;
                font-weight: 700;
              }
            }

            .card-image {
              height: 250px;
              background: $light-gray;
              position: relative;

              .cutline-text {
                position: absolute;
                bottom: 0;
                padding: 10px;
                white-space: normal;
                font-size: 9px;
                margin: 0;
                color: $dark-gray;
              }
            }

            .card-content-container {
              padding-top: 15px;

              .card-headline {
                font-size: 14px;
                color: $dark-gray;
                font-weight: 700;
              }

              .tags-container {
                font-size: 12px;

                .card-tag {
                  display: inline-block;
                  padding: 2px 8px;
                  background-color: #d8d8d8;
                  color: $dark-gray;
                  font-size: 14px;
                  margin-right: 10px;

                  &:first-of-type {
                    margin-left: 10px;
                  }
                }
              }

              .card-copy {
                white-space: normal;
                font-size: 13px;
                padding-right: 20px;
                color: $dark-gray;
                margin-bottom: 50px;
              }
            }

            .option-availability {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              padding-left: 20px;
              padding-right: 20px;
              position: fixed;
              width: 100%;
              left: 0;
              bottom: 0;

              .seperator {
                border-top: 1px solid $dark-gray;
                width: 100%;
              }

              p,
              .option-toggle {
                margin-top: 15px;
                margin-bottom: 15px;
                color: $dark-gray;
              }

              p {
                font-size: 14px;
                font-weight: bold;
              }

              .option-toggle {
                background-color: #e42525;
                padding: 6px 16px;
                border: 0;
                font-size: 12px;
                border-radius: 19px;
                color: #fff;
                max-height: 27px;
                line-height: 1;
              }
            }
          }
        }
      }
    }
  }

  .prev-next-container {
    position: absolute;
    bottom: 0;
    button {
      color: $dark-gray;
    }
  }
}

hr {
  border: none;
  height: 1px;
  margin: 0 5px;
  background-color: rgb(208, 208, 208); /* Modern Browsers */
}
