// ----------------------
// FONT DECLARATIONS
//// ---------

$avenir-next-ultra-light: 'AvenirNext-UltraLight';
$avenir-next-light: 'AvenirNext-Light';
$avenir-next-thin: 'AvenirNext-Thin';
$avenir-next-regular: 'AvenirNext-Regular';
$avenir-next-italic: 'AvenirNext-Italic';
$avenir-next-medium: 'AvenirNext-Medium';
$avenir-next-medium-italic: 'AvenirNext-MediumItalic';
$avenir-next-heavy-italic: 'AvenirNext-HeavyItalic';
$avenir-next-demi-bold: 'AvenirNext-DemiBold';
$avenir-next-demi-bold-italic: 'AvenirNext-DemiBoldItalic';
$avenir-next-bold: 'AvenirNext-Bold';
$avenir-next-rounded-regular: 'AvenirNextRounded-Regular';
$avenir-next-rounded-italic: 'AvenirNextRounded-Italic';
$avenir-next-rounded-medium: 'AvenirNextRounded-Medium';
$avenir-next-rounded-medium-italic: 'AvenirNextRounded-MediumItalic';
$avenir-next-rounded-demi-bold: 'AvenirNextRounded-DemiBold';
$avenir-next-rounded-bold: 'AvenirNextRounded-Bold';